.banner {
    background-color: #3A3E4A;
    display: flex;
}
.logo {
    margin-left: 5px;
    height: auto;
    width: auto;
}
.logo_img {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    box-shadow: 1px 0px 2px black;
}
.title_container {
    display: flex;
    align-items: center;
}
.title {
    font-size: 25px;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    font-style: italic;
    text-transform: capitalize;
}