.container_footer {
    background-color: #767677;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}
.paragraph {
    color: black;
    font-style: bold;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
}